*.pyc
*.DS_Store
*.o
*.so
lib/bin/*
!lib/bin/*.oss
archive/
.#*
.nfs*
lib/registry
lib/rust/.cargo
lib/rust/target
lib/rust/*/target
lib/rust/.crates.toml
lib/.crates.toml
node_modules/
.coverage
cover
coverage.xml
nosetests.xml
lib/python/cellranger/test_files/outputs
lib/python/tenkit/test_files/demultiplex/
lib/cython

